#thanhpho{
	border: solid 1px #ccc;
	border-radius: 2px;
	/*height: 40px;*/
	
}
/*#thanhpho >li>a{
	padding-top: 10px;
    padding-bottom: 10px;
}*/
#danhmuc{
	padding-left: 10px; 
	border: solid 1px #ccc;
	border-radius: 2px;
	heightght: 40px;
}
#text-search{
	border-radius: 2px;
	width: 400px;
}
#form-search-text-button{
	width: 200%;
}
#form-search{
	width: 100%;
}

/*.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}*/