.navbar-nav #thanhpho a{
	padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 3px;
}

.navbar-nav #thanhpho a select{
	border-radius: 1px;
}

.navbar-nav #danhmuc a{
	padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 0px;
}
#danhmuc{
	margin-right: -39px;
}
#text-search{
	border-radius: 2px;
	width: 400px;
}
#form-search-text-button{
	width: 200%;
	padding-top: 3px;
}
#form-search-text-button input{
	height: 29px;
}
#form-search-text-button button{
	height: 29px;
}
#form-search{
	width: 100%;
}

#point-palce{
	color: yellow;
}
#search-form{
	width: 300px;
	padding-left: 14px;
}
.notify{
	
}




