.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}


/*================== SELECT SEARCH ==============*/
.selectTinhTp .nutchon{
  position: relative;
}
.selectTinhTp .select-content{
  position: absolute;
  z-index: 3;
  top: 56px;
  left: 0;
  background-color: white;
  width: 200px;
}

.selectTinhTp input{
  width: 200px;
  height: 50px;
  display: inherit;
}

.selectTinhTp{
  position: relative;
  padding-bottom: 5px;
}

.selectTinhTp .select-content{
  display: none;
}

.selectTinhTp #select-content-id .caption h5{
  background-color: #eee;
  padding: 5px;
  margin-bottom: 0px;
  font-size: 16px;
}

.selectTinhTp #select-content-id .caption .mui-ten{
  position: absolute;
  top:-7px;
  left: 48%;
  z-index: 1;
  background-image: url("../images/arrow-top.png");
  width: 12px;
  height: 8px;
}

.selectTinhTp #select-content-id .caption span{
  font-size: 12px;
  color: #b7b7b7;
  padding-top: 3px;
  padding-right: 3px;
}

.selectTinhTp .select-content ul{
  height: 200px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px !important; 
}

.selectTinhTp .select-content ul li{
  padding-left: 5px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.selectTinhTp .select-content ul li:hover{
  background-color: #eee;
  cursor: pointer;
}

.selectTinhTp .select-content ul li a{
  color: black !important;
  text-decoration: none;
  font-size: 13px;
  /*display: block;*/
}

/*================== END SELECT SEARCH ==============*/