.layer2 .bg-light {
    /*background-color: #00000047!important;*/
    background: rgba(0,0,0,0.26) !important;
}
.layer2 .bg-light #navbarSupportedContent ul li a{
    color: white;
    font-weight: 500;
}

.layer2 .bg-light .dropdown .dropdown-menu a{
	color: black !important;
	font-weight: 400 !important;
}